body {
  margin: 0px;
  font-size: 18px;
}

header, footer {
  background-color: #1F2937;
  color: #fff;
}

header>* {
 width: 80%;
 margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

.header-hero {
  display:flex;
  padding-top: 4em;
  padding-bottom: 4em;
  gap: 5em;
}

.header-hero>div {
  width: 50%;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-text {
  padding: 1em;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bold;
  margin: 0;
}

footer {
  padding: 8px;
  text-align: center;
}

/* testimonial */

.testimonial {
  background-color: #E5E7EB;
  padding: 6em 12em;
}
.testimonial>div {
  width:60%;
  margin:auto
}
.testimonial>div>p {
  margin: 0;
}
.quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;

}
.author {
  font-size: 24px;
  font-style: bold;
  text-align:right;
}

/* buttons and links */

.button-primary {
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
}
.button-primary:hover {
  background-color: white;
  color: black;
}

.inline-link {
 color: white;
 text-decoration: none;
 margin: 0 8px;
}

.inline-link:hover {
  text-decoration: underline;
}

.inline-link.is-active {
  color: #23ffe2;
  text-decoration: underline
}

.link {
  color: white;
}

/* Call to Action */

.call-to-action {
  padding: 5em 15em;
  display: flex;
}
.call-to-action>div {
  background-color: #3882F6;
  color: white;
  padding: 2em 6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.button-secondary {
  margin: 0 8em;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.button-secondary:hover {
  background-color: white;
  color: #3882F6;
}