body {
  margin: 0px;
  font-size: 18px;
}

header, footer {
  background-color: #1F2937;
  color: #fff;
}

header>* {
 width: 80%;
 margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

.header-hero {
  display:flex;
  padding-top: 4em;
  padding-bottom: 4em;
  gap: 5em;
}

.header-hero>div {
  width: 50%;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-text {
  padding: 1em;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bold;
}

footer {
  padding: 8px;
  text-align: center;
}

.testimonial {
  background-color: #E5E7EB;
}

.button-primary {
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 5%;
  padding: 8px 16px;
}
.button-primary:hover {
  background-color: white;
  color: black;
}

.inline-link {
 color: white;
 text-decoration: none;
 margin: 0 8px;
}

.inline-link:hover {
  text-decoration: underline;
}

.inline-link.is-active {
  color: #23ffe2;
  text-decoration: underline
}

.link {
  color: white;
}